@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* GERAL */

* {
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
}

:root {
    --lightbrown: #ffe5ae;
    --brown: #fdbf61;
    --darkbrown: #996900;
    --button: #ffb936;
    --darkgray: #303030;
    --white: #fff;
    --black: #000;
}

.montserratFont {
    font-family: "Montserrat", sans-serif;
}

#header {
    background-color: var(--darkbrown);
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#header div img {
    max-width: 100%;
    display: flex;
}

#nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#nav-header div a {
    color: var(--lightbrown);
    font-weight: 400;
    font-size: 1.2rem;
    max-width: 300px;
}

#footer {
    background-color: var(--darkbrown);
    padding: 2rem;
    text-align: center;
}

#footer h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: var(--lightbrown);
}

.margin-1rem {
    margin: 0 1rem;
}

/* PÁGINA PRINCIPAL */

#section1-main-page {
    background-image: url(/Imagens/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    max-height: 600px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    height: 150vw
        /*  MEXER AQUI  */
}

#section1-main-page div h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--darkgray);
    margin: 0 2rem;
}

.button-big-main-page {
    background-color: var(--button);
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 14px;
}

.button-big-main-page a {
    color: var(--black);
    font-weight: 700;
}

#vistaverde-main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.width100 {
    width: 100%;
    max-width: 400px;
}

#vistaverde-main-page img {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 400px;
}

#section2-main-page {
    margin: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section2-main-page div p {
    max-width: 400px;
}


#section3-main-page {
    margin: 4rem 2rem 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-produto-main-page img {
    display: flex;
    width: 100%;
    max-width: 400px;
}

#section3-main-page h2 {
    margin: 3rem 0rem;
    font-size: 2rem;
}

.products-name-main-page {
    font-size: 1.4rem;
    margin: 1rem 0;
}

.button-saibamais {
    font-size: 1rem;
    background-color: var(--button);
    font-weight: 400;
    padding: 0.6rem;
    border-radius: 14px;
}

.button-saibamais a {
    color: var(--black);
    font-weight: 700;
}

.products-main-page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1.3rem;
}

/* SOBRE NÓS */

#section1-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.8rem 1.3rem 4.5rem;
    gap: 1.5rem;
}

#section2-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.3rem 4.5rem;
    gap: 1.5rem;
}

#section3-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.3rem 3rem;
    gap: 1.5rem;
}

#section1-sobre div img,
#section2-sobre div img,
#section3-sobre div img {
    display: flex;
    align-items: center;
}

#section1-sobre div p,
#section2-sobre div p,
#section3-sobre div p {
    display: flex;
    align-items: center;
    max-width: 400px;
}

.subtitle-sobre {
    display: flex;
    font-size: 1.5rem;
}

.image-sobre-page img {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 400px;
}

/* PRODUTOS */

#section-product-page {
    margin: 0 2rem 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#section-product-page h2 {
    margin: 2.3rem 0rem;
    font-size: 2.5rem;
}

/* PRODUTOS */

.image-products {
    display: flex;
    justify-content: center;
}

.image-products img {
    width: 90%;
    max-width: 400px;
}

.text-produtos {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

#section1-produtos {
    margin: 2rem 2rem;
}

#section1-produtos div h2 {
    font-size: 2rem;
    margin: 1rem 0;
}

#section2-produtos {
    display: flex;
    margin: 2rem 2rem;
    gap: 2rem;
    flex-direction: column;
}

#section2-produtos div h3 {
    margin: 0 1rem;
    font-size: 1.5rem;
}

@media (min-width: 768px) {

    /* GERAL */

    #header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background-color: var(--darkbrown);
        padding-bottom: 0;
    }

    #header div img {
        max-width: 100%;
        margin-left: 2rem;
    }

    #nav-header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        margin-right: 5%;
        margin-left: 2rem;
    }

    #nav-header div a {
        color: var(--lightbrown);
        font-weight: 400;
        font-size: 1.2rem;
        max-width: 300px;
        position: relative;
        text-decoration: none;
    }
    
    #nav-header div a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: var(--lightbrown);
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.4s ease;
    }
    
    #nav-header div a:hover::after {
        transform: scaleX(1.02);
        transform-origin: bottom left;
    }

    #footer {
        padding: 4rem 2rem;
    }

    #footer h3 {
        font-size: 1.6rem;
    }

    /* PÁGINA PRINCIPAL */

    #section1-main-page div h2 {
        font-size: 5rem;
        max-width: 978px;
    }

    .button-big-main-page {
        font-size: 1.8rem;
        transition: transform 0.3s ease;
    }

    .button-big-main-page:hover {
        transform: scale(1.05);
    }

    #section2-main-page {
        flex-direction: row;
        gap: 5rem;
        margin-top: 4rem;
        align-items: flex-start;
    }

    #vistaverde-main-page {
        margin: 0;
    }

    #vistaverde-main-page img {
        max-width: 500px;
    }

    #section2-main-page div p {
        font-size: 1.5rem;
        max-width: 500px;
    }

    .image-produto-main-page img {
        max-width: 500px;
    }

    .flexrow {
        flex-direction: row;
        gap: 5rem;
    }

    .width100 {
        max-width: 1080px;
    }

    .button-saibamais {
        font-size: 1.4rem;
        transition: transform 0.3s ease;
    }

    .button-saibamais:hover {
        transform: scale(1.05);
    }

    .products-name-main-page {
        font-size: 1.8rem;
    }

    /* SOBRE NÓS */

    #section1-sobre {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;
        margin-top: 3rem;
    }

    .image-sobre-page img {
        max-width: 500px;
    }

    #section2-sobre {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;
    }

    #section3-sobre {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;
    }

    .subtitle-sobre {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    #section1-sobre div p,
    #section2-sobre div p,
    #section3-sobre div p {
        font-size: 1.3rem;
    }

    /* PRODUTOS */

    #section-product-page h2 {
        font-size: 3rem;
    }

    #section1-produtos {
        display: flex;
        justify-content: center;
        gap: 5rem;
        align-items: flex-start;
        margin-top: 4rem;
    }

    #produtos-image-principal {
        width: 40vw;
        max-width: 500px;
    }

    #section1-produtos div h2 {
        font-size: 2.2rem;
    }

    #section2-produtos {
        max-width: 1160px;
    }

    #section2-produtos div h3 {
        margin: 0;
        font-size: 1.9rem;
    }

    #div-section2-produtos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .text-produtos {
        font-size: 1.2rem;
    }

    #geral-image-products {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2.5rem;
    }

    #geral-text-produtos {
        max-width: 580px;
    }

    .image-products {
        justify-content: flex-start;
    }

    .image-products img {
        width: 100%;
    }

}